body {
  font-family: Arial, Helvetica, sans-serif;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
}

#title-form {
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0 50px;
  margin: auto;
  left: auto;
  width: 80%;
  border-radius: 15px;
  box-shadow: 10px 10px 30px gainsboro;
  border: solid 1px gainsboro;
}

.form-row {
  flex-grow: 1;
  margin: 10px;
}

.form-row div {
  margin: 20px 5px 20px 20px;
  font-size: large;
}

#phone-number-span {
  color: gray;
}

.input-edit-form {
  margin-top: 10px;
  display: block;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  width: 90%;
  border-color: gainsboro;
  border-style: solid;
}

.form-item-col3 input {
  display: block;
  padding: 10px;
  margin-top: 10px;
  font-size: large;
  border-radius: 10px;
  width: 90%;
  border-color: gainsboro;
  border-style: solid;
}

.save-btn {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  padding: 10px;
  background-color: gray;
  border: none;
  border-radius: 20px;
  width: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  left: 80%;
}

.save-btn:hover,
.profile-picture-label:hover {
  background-color: #999696;
  cursor: pointer;
}

input:focus,
select:focus {
  outline: 1px solid dodgerblue;
}

input[type="file"]::file-selector-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .form-container {
    width: 100%;
    display: block;
  }

  .form-item-col3 input {
    width: 90%;
    display: flex;
  }

  .save-btn {
    position: relative;
    left: 80%;
    width: 20%;
  }
}

img {
  width: 10%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  margin-top: 10px;
}
