* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Oculta el email si no cabe */
@media (max-width: 800px) {
  #user-email {
    display: none;
  }
}

/* El contenedor de todos los elementos */
.container-header {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  background-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

#header-body {
  margin: 0%;
}

.item-header {
  padding: 5px;
}

/* Hace que el boton de search no se amontone con el campo de busqueda */
#txt-container {
  display: flex;
  width: 60%;
  flex-wrap: nowrap;
}

/* Hace que la barra de busqueda se adapte al tamaño */
#txt-search {
  width: 100%;
  padding: 10px;
  border: 2px gainsboro none;
  border-radius: 10px;
}

/* Pone transparente los botones y les elimina el borde */
#user-email {
  color: white;
  font-weight: bold;
}

#btn-logout {
  background-color: transparent;
  border: none;
}

#btn-edit {
  background-color: transparent;
  border: none;
}

#btn-search {
  background-color: transparent;
  border: none;
}

#btn-left {
  background-color: transparent;
  border: none;
}

/* Hace que los dos botones no se amontonen */
#btn-container {
  display: flex;
  flex-wrap: nowrap;
}
