* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Oculta el email si no cabe */
@media (max-width: 800px) {
  #user-email {
    display: none;
  }
}

/* El contenedor de todos los elementos */
.container-header {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  align-items: center;
  background-color: #362768;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#header-body {
  margin: 0%;
}

.item-header {
  padding: 5px;
}

/* Hace que el boton de search no se amontone con el campo de busqueda */
#txt-container {
  display: flex;
  width: 60%;
  flex-wrap: nowrap;
}

/* Hace que la barra de busqueda se adapte al tamaño */
#txt-search {
  width: 100%;
  padding: 10px;
  border: 2px gainsboro none;
  border-radius: 10px;
}

/* Pone transparente los botones y les elimina el borde */
#user-email {
  color: white;
  font-weight: bold;
}

#btn-logout {
  background-color: transparent;
  border: none;
}

#btn-edit {
  background-color: transparent;
  border: none;
}

#btn-search {
  background-color: transparent;
  border: none;
}

#btn-left {
  background-color: transparent;
  border: none;
}

/* Hace que los dos botones no se amontonen */
#btn-container {
  display: flex;
  flex-wrap: nowrap;
}

.home-link {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.home-link:hover {
  color: #b6b4e5;
  text-decoration: none;
  cursor: pointer;
}

#btn-edit a,
#btn-logout a {
  color: white;
}

#btn-edit a:hover {
  color: red;
}

#btn-logout a:hover {
  color: red;
}
