<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/main.css" />
    <title>Feed</title>
  </head>
  <body>
    <div class="temporalHeader"></div>

    <div class="container">
      <div class="leftBar"></div>
      <button class="createPostBtn">+ Create a new Post</button>
      <section class="post">
        <div class="postComponentsWrapper">
          <!-- Header -->
          <div class="postHeaderWrapper">
            <header class="postHeader">
              <img src="" alt="" />
              <h1>John Doe</h1>
            </header>
            <div class="postTime">
              <label>dd/mmmm/yy</label>
              <label>13:45</label>
            </div>
          </div>
          <!-- Content -->
          <div class="postContentWrapper">
            <section class="postContent">
              <h1>Nam vitae erat vel sem!</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laboriosam dolores eos veritatis delectus praesentium aspernatur
                nam eaque mollitia consectetur.eaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia conseeaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitiaeaque
                mollitia consectetur.eaque mollitia consectetur. eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur. consectetur.ctetur.
              </p>
            </section>
            <button>></button>
          </div>

          <!-- Footer -->
          <div class="postFooterWrapper">
            <section class="postFooter">
              <img src="" alt="" />
              <h1>John Doe</h1>
              <p>adasdasdaasdasdsasdadasdasdaasdasdsasd</p>
              <button>></button>
            </section>
          </div>
        </div>
      </section>
      <section class="post">
        <div class="postComponentsWrapper">
          <!-- Header -->
          <div class="postHeaderWrapper">
            <header class="postHeader">
              <img src="" alt="" />
              <h1>John Doe</h1>
            </header>
            <div class="postTime">
              <label>dd/mmmm/yy</label>
              <label>13:45</label>
            </div>
          </div>
          <!-- Content -->
          <div class="postContentWrapper">
            <section class="postContent">
              <h1>Nam vitae erat vel sem!</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laboriosam dolores eos veritatis delectus praesentium aspernatur
                nam eaque mollitia consectetur.eaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia conseeaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitiaeaque
                mollitia consectetur.eaque mollitia consectetur. eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur. consectetur.ctetur.
              </p>
            </section>
            <button>></button>
          </div>

          <!-- Footer -->
          <div class="postFooterWrapper">
            <section class="postFooter">
              <img src="" alt="" />
              <h1>John Doe</h1>
              <p>adasdasdaasdasdsasdadasdasdaasdasdsasd</p>
              <button>></button>
            </section>
          </div>
        </div>
      </section>
      <section class="post">
        <div class="postComponentsWrapper">
          <!-- Header -->
          <div class="postHeaderWrapper">
            <header class="postHeader">
              <img src="" alt="" />
              <h1>John Doe</h1>
            </header>
            <div class="postTime">
              <label>dd/mmmm/yy</label>
              <label>13:45</label>
            </div>
          </div>
          <!-- Content -->
          <div class="postContentWrapper">
            <section class="postContent">
              <h1>Nam vitae erat vel sem!</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laboriosam dolores eos veritatis delectus praesentium aspernatur
                nam eaque mollitia consectetur.eaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia conseeaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitiaeaque
                mollitia consectetur.eaque mollitia consectetur. eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur. consectetur.ctetur.
              </p>
            </section>
            <button>></button>
          </div>

          <!-- Footer -->
          <div class="postFooterWrapper">
            <section class="postFooter">
              <img src="" alt="" />
              <h1>John Doe</h1>
              <p>adasdasdaasdasdsasdadasdasdaasdasdsasd</p>
              <button>></button>
            </section>
          </div>
        </div>
      </section>
      <div class="rightBar"></div>
    </div>

    <div class="temporalFooter"></div>
  </body>
</html>
