<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/main.css" />
    <title>Post</title>
  </head>
  <body>
    <div class="temporalHeader"></div>
    <div class="container">
      <div class="leftBar"></div>
      <section class="post">
        <div class="postComponentsWrapper">
          <!-- Header -->
          <div class="postHeaderWrapper ignoreOverflow">
            <header class="postHeader">
              <img src="" alt="" />
              <h1>John Doe</h1>
            </header>
            <div class="postTime">
              <label>dd/mmmm/yy</label>
              <label>13:45</label>
            </div>
          </div>
          <!-- Content -->
          <div class="postContentWrapper ignoreOverflow">
            <section class="postContent">
              <h1>Nam vitae erat vel sem!</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laboriosam dolores eos veritatis delectus praesentium aspernatur
                nam eaque mollitia consectetur.eaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia conseeaque mollitia consectetur.eaque
                mollitia consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitiaeaque
                mollitia consectetur.eaque mollitia consectetur. eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur.eaque mollitia consectetur.eaque mollitia
                consectetur. consectetur.ctetur.
              </p>
            </section>
            <button>
              <svg
                class="rightArrow"
                xmlns="http://www.w3.org/2000/svg"
                width="1024"
                height="1024"
                viewBox="0 0 1024 1024"
              >
                <path
                  fill="currentColor"
                  d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512L340.864 831.872a30.592 30.592 0 0 0 0 42.752a29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z"
                />
              </svg>
            </button>
          </div>

          <!-- Footer -->
          <div class="postCommentsWrapper ignoreOverflow">
            <section class="postComments">
              <div class="comment">
                <img src="" alt="" />
                <h1>John Doe</h1>
                <span>time</span>
                <p>adasdasdaasdasdsasdadasdasdaasdasdsasd</p>
              </div>
              <div class="comment">
                <img src="" alt="" />
                <h1>John Doe</h1>
                <span>time</span>
                <p>
                  adasdasdaasdasdsasdadasdasdadasdasdaasdasdsasdadasdasdaasdasdsasdaasdasdsasd
                </p>
              </div>

              <div class="createComment">
                <input type="text" name="" id="" />
                <button>
                  <svg
                    class="rightArrow"
                    xmlns="http://www.w3.org/2000/svg"
                    width="1024"
                    height="1024"
                    viewBox="0 0 1024 1024"
                  >
                    <path
                      fill="currentColor"
                      d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512L340.864 831.872a30.592 30.592 0 0 0 0 42.752a29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z"
                    />
                  </svg>
                </button>
              </div>
            </section>
          </div>
        </div>
      </section>
      <div class="rightBar"></div>
    </div>
    <div class="temporalHeader"></div>
  </body>
</html>
