* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(119 115 111);
}

#preview-title-span {
  margin-left: 30px;
}

#post-preview {
  margin-top: 90px;
  border-radius: 30px 30px 0 0;
}

#title {
  margin-left: 30px;
  margin-bottom: 40px;
  padding-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto auto;
  padding-left: 30px;
  padding-right: 30px;
}

.username {
  background-color: gray;
  color: white;
  border-top-left-radius: 36px;
  border-top-right-radius: 100px;
  grid-row: 1 / 3;
  vertical-align: middle;
}

.fecha {
  text-align: right;
  color: gray;
  font-size: small;
}

.hora {
  text-align: right;
  font-weight: bolder;
}

.fondo-blanco {
  background-color: white;
  padding-bottom: 5px;
  margin-inline-end: 10%;
  margin-inline-start: 10%;
  margin-right: 10%;
}

.user-icon {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  padding: 5px;
  vertical-align: middle;
}

.pub-body {
  padding-left: 30px;
  padding-right: 30px;
}

.text {
  text-align: justify;
  background-color: gainsboro;
  margin-top: 0;
  padding: 10px;
  border-bottom-right-radius: 30px;
}

.labels {
  display: block;
  margin: 5px;
  font-weight: bolder;
}

#title-text {
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: gainsboro;
  border-style: solid;
  padding: 5px;
  width: 100%;
}

#contenedor {
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px;
  padding-top: 20px;
  border: 2px solid gainsboro;
  border-radius: 5px;
}

.container {
  display: block;
  margin-bottom: 90px;
  border-radius: 0 0 30px 30px;
}

.container2 {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.item {
  width: 100%;
}

textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: gainsboro 2px solid;
  border-radius: 5px;
  height: 100px;
  width: 100%;
}

#file {
  width: 100%;
  font-size: medium;
}

#boton {
  margin: 15px;
  margin-right: 30px;
  background-color: gray;
  padding: 10px 30px;
  border-radius: 10px;
  border-style: none;
  font-weight: bolder;
  color: white;
  font-size: large;
}

#title-post {
  font-size: large;
  font-weight: 800;
}
