body {
  margin: 0;
}

.temporal-header,
.temporal-footer {
  background-color: gray;
  height: 10vh;
  width: 100%;
  margin: 0;
}

.container {
  background-color: #dbd7e5;
  display: flex;
  height: auto;
  width: auto;
  margin: 0;
  flex-flow: row wrap;
  padding: 0;
  justify-content: space-between;
}

.posts-container {
  width: 60vw;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 30px;
}

@media screen and (min-width: 900px) {
  .left-bar,
  .right-bar {
    height: inherit;
    background-color: #aeaab9;
    width: 5%;
    margin: 0;
  }
}

/* Create Post */
.create-post-btn {
  width: 40%;
  margin: auto;
  margin-top: 70px;
  border: none;
  color: whitesmoke;
  background-color: rgb(35 20 80);
  border-radius: 20px;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 15px -6px #525252;
  cursor: pointer;
}

.create-post-btn:hover {
  background-color: rgb(15 20 100);
  transform: translateY(3px);
  box-shadow: none;
}

/* Post */
.post {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
}

.post-components-wrapper {
  display: flex;
  margin: auto;
  height: 40vh;
  width: 70%;
  flex-direction: column;
}

/* Post Header */
.post-header-wrapper {
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: space-between;
  overflow: hidden;
}

.post-header-wrapper .post-header {
  width: 60%;
  background-color: #23144f;
  border-radius: 1em 2.5em 0 0;
  padding: 5px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-header-wrapper .post-header img {
  width: 2em;
  height: 2em;
  border-radius: 100px;
}

.post-header-wrapper .post-header span {
  display: inline;
  color: white;
  font-weight: 800;
  margin-left: 10px;
}

.post-header-wrapper .post-time label {
  display: block;
  text-align: end;
  margin-top: 5%;
}

/* POST TIME */
.post-time {
  display: block;
  margin-right: 10px;
  color: gray;
}

.post-time b {
  color: black;
}

/* Post Content */
.post-content-wrapper {
  background-color: #b6b4e5;
  height: 60%;
  border-radius: 0 85px 0 60px;
  flex-flow: column nowrap;
  overflow: clip;
}

.post-components-wrapper .post-content {
  height: 80%;
  margin: 10px;
  margin: 0 10px;
}

.post-content-wrapper .post-content h1 {
  margin: 0;
  display: inline;
}

.post-content-wrapper .post-content p {
  height: 100%;
  margin: 0.2em 0;
  overflow-wrap: break-word;
}

.post-content-wrapper button {
  align-self: flex-end;
  margin: 0 15px 5px 0;
  height: 2em;
  width: 2em;
  background-color: transparent;
  border: none;
}

/* Post Footer */
.post-footer-wrapper {
  display: flex;
  height: 20%;
  flex-direction: row-reverse;
  overflow: hidden;
}

.post-footer-wrapper .post-footer {
  width: 60%;
  background-color: #23144f;
  border-radius: 0 0 1em 2.5em;
  padding-left: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 0;
}

.post-footer-wrapper .post-footer > * {
  flex: 1 1 1em;
  color: white;
}

.post-footer-wrapper .post-footer img {
  height: 1.5em;
  width: 1.5em;
  margin: 2% 3%;
  border-radius: 100px;
  flex: 0 1 1.5em;
}

.post-footer-wrapper .post-footer h1 {
  margin: 0;
  width: 60%;
  overflow: hidden;
  flex: 0 2 50%;
}

.post-footer-wrapper .post-footer p {
  margin: 0;
  width: 60%;
  overflow: hidden;
  flex: 0 2 1.5em;
}

/* Comments */
.post-comments-wrapper {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
}

.post-comments-wrapper .post-comments {
  width: 100%;
  height: 125%;
  background-color: rgba(55 149 149 / 80%);
  border-radius: 0 0 1em 1em;
  padding-left: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
}

.comment {
  display: flex;
  flex-flow: row wrap;
  border-top: rgb(73 135 137) solid 1px;
  border-bottom: rgb(73 135 137) solid 1px;
  border: 100%;
  color: white;
}

.post-comments .comment > * {
  flex: 1 1 1em;
}

.post-comments .comment img {
  height: 1.5em;
  width: 1.5em;
  margin: 2% 0 0;
  border-radius: 100px;
  flex: 0 1 1.5em;
}

.post-comments .comment h1 {
  margin: 0;
  margin-left: 5%;
  width: 30%;
  overflow: hidden;
  flex: 0 2 1.5em;
  flex-basis: 20%;
}

.post-comments .comment span {
  margin: 0;
  margin-left: 5%;
  overflow: hidden;
  flex: 0 2 1.5em;
  flex-basis: 50%;
}

.post-comments .comment p {
  margin: 0;
  margin-left: 5%;
  overflow: hidden;
  flex: 0 2 1.5em;
  flex-basis: 90%;
}

.create-comment {
  width: 100%;
  height: 8vh;
  margin: 0;
  display: flex;
  align-self: flex-end;
}

.create-comment input {
  width: 84%;
  height: 80%;
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: none;
  border-radius: 10px 0 0 10px;
}

.create-comment button {
  margin: 0;
  padding: 0;
  width: 15%;
  height: 80%;
  border: none;
  border-radius: 0 10px 10px 0;
}

.post-footer button {
  margin: 0;
  padding: 0;
  width: 15%;
  height: 80%;
  border: none;
  border-radius: 0 10px 10px 0;
  background: none;
  margin-top: 40%;
}

.post-content-wrapper button:hover {
  background-color: whitesmoke;
}

.right-arrow {
  width: 20px;
  height: 20px;
}

.btn-right-arrow {
  padding: 0;
}

.comments-link {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-top: 5%;
  color: white;
}

.comments-link:hover {
  cursor: pointer;
  color: red;
}

.ignore-overflow {
  overflow: visible;
}

.post-header div {
  margin: auto;
}

/* DeletePost */
.delete-post {
  align-self: flex-end;
}

.edit-post-btn {
  display: inline-block;
  color: white;
}

.edit-post-btn:hover {
  color: red;
}

.post-header-wrapper svg {
  width: 30px;
  height: 30px;
  color: white;
}

.delete-post svg {
  color: #525252;
}

.post-header-highlighted {
  border: none;
  display: inline-block;
  margin-right: 15px;
  align-self: flex-end;
}

.post-header-highlighted svg {
  color: graytext;
}

.delete-post svg:hover {
  color: red;
  cursor: pointer;
}
