header {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color: rgb(75, 75, 75);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    display: block;
    font-size: 40px;
}

#remark{
    color: gray;
}

#text, #genero {
    margin-top: 10px;
    margin-left: 50px;
    display: block;
    height: 50px;
    width: 700px;
    font-size: 40px;
    border-radius: 10px;
}

#formulario, #email {
    display: flex;
    flex-wrap: wrap;    
}

#mText{
    margin-top: 10px;
    margin-left: 50px;
    display: block;
    height: 50px;
    width: 460px;
    font-size: 40px;
    border-radius: 10px;
}
#subir{
margin-top: 70px;
float: right;
text-decoration:none;
font-weight: 600;
font-size: 20px;
color: white;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#22201d;
border-color: #000000;
border-width: 3px;
border-style: solid;
border-radius:35px;
}

#marco{
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
             
}