<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Luis Martin Reynoso">
    <meta name="description" content="Clase">
    <link rel="icon" href="Icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="editar.css">
    <title>Edit account</title>
            <header></header>

</head>

<body>
    <h1>
        Edit profile
    </h1>
<form id="Proyecto" action="">
    <div id="marco">
    <div id="formulario">
        <div>
            <label for="fname">
                First Name *
            </label>
            <input type="text" name="fname" id="text" placeholder="John">
        </div>
        <div>
            <label for="lname">
                Last Name *
            </label>
            <input type="text" name="lname" id="text" placeholder="Doe">
        </div>
    </div>
    <div id="formulario">
        <div>
            <label for="email">
                Email *
            </label>
            <input type="email" name="email" id="text" placeholder="John@Doe.com">
        </div>
        <div>
            <label for="PN">Phone number <span id="remark">(10 digits)</span></label>
            <input type="text" name="PN" id="text" placeholder="1234567890">
        </div>
    </div>
    <div id="formulario">
        <div>
            <label for="BD">Birthday</label>
            <input type="date" name="BD" id="text">
        </div>
        <div>
            <label for="gender">Gender</label>
            <select name="gender" id="genero">
                <option value="">Select...</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="N">Helicopter</option>
            </select>
        </div>
    </div>
    <div id="formulario">
        <div>
            <label for="City">
                City
            </label>
            <input type="text" name="City" id="mText" placeholder="Obregon">
        </div>
        <div>
            <label for="Municipality">
                Last Name *
            </label>
            <input type="text" name="Municipality" id="mText" placeholder="Cajeme">
        </div>
        <div>
        <label for="State">
            State
        </label>
        <input type="text" name="State" id="mText" placeholder="Sonora">

    </div>
    </div>
    <p></p>
    <input type="submit" id="subir" value="Save">
</div>
</form>
</body>


</html>